body {
  background-color: aliceblue;
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color:#335d92;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h1 {
  color: #335d92;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 2rem auto;
}

ul {
  list-style-type: none;
  margin: 0 0 2rem 0;
  padding: 0;
}

ul h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

ul p {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

article h3 {
  color: #335d92;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

article div {
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}
input[type="text"],
textarea {
  padding: 20px;
  border-radius: 1em;
  margin-bottom: 10px;
}

button[type=submit] {
  font-family: inherit;
  font-size: inherit;
  padding: 1em 2em;
  color: #335d92;
  background-color: rgba(68, 107, 158, 0.3);
  border-radius: 2em;
  border: 2px solid rgba(55, 97, 151, 0);
  width: 200px;
  font-variant-numeric: tabular-nums;
}

button[type=submit]:focus {
  border: 2px solid #335d92;
}

button[type=submit]:active {
  background-color: rgba(68, 107, 158, 0.4);
}
